name: Deploy Backend

on:
  push:
    branches:
      - UAT

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: SSH into EC2 & Deploy
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            pwd  # Print working directory
            ls -la  # Check if the files exist
            git config --global --add safe.directory /home/ubuntu/code/SC_Backend
            cd /home/ubuntu/code/SC_Backend/
            git reset --hard HEAD
            git pull origin UAT
            export DOCKER_BUILDKIT=1
            export COMPOSE_DOCKER_CLI_BUILD=1
            sudo docker compose down
            sudo docker compose build --no-cache
            sudo docker compose up -d
            sudo docker ps -a
